In [3]:
# Import packages with standard conventions
import numpy as np
import pandas as pd

In [4]:
# Read the CSV file with Pandas
movies = pd.read_excel('movies.xlsx')

# View the DataFrame
movies

,Title,Year,Age,IMDb,Rotten Tomatoes,Directors,Genres,Country,Language,Runtime
0,Inception,2010,13+,8.8,0.87,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,The Matrix,1999,18+,8.7,0.87,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,Avengers: Infinity War,2018,13+,8.5,0.84,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,Back to the Future,1985,7+,8.5,0.96,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,"The Good, the Bad and the Ugly",1966,18+,8.8,0.97,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0
...,...,...,...,...,...,...,...,...,...,...
16739,The Ghosts of Buxley Hall,1980,NaN,6.2,NaN,Bruce Bilson,"Comedy,Family,Fantasy,Horror",United States,English,120.0
16740,The Poof Point,2001,7+,4.7,NaN,Neal Israel,"Comedy,Family,Sci-Fi",United States,English,90.0
16741,Sharks of Lost Island,2013,NaN,5.7,NaN,Neil Gelinas,Documentary,United States,English,NaN
16742,Man Among Cheetahs,2017,NaN,6.6,NaN,Richard Slater-Jones,Documentary,United States,English,NaN
16743,In Beaver Valley,1950,NaN,NaN,NaN,James Algar,"Documentary,Short,Family",United States,English,32.0

In [7]:
movies_na = movies[movies.isna().any(axis=1)]

movies_na.shape
movies_na.tail()

,Title,Year,Age,IMDb,Rotten Tomatoes,Directors,Genres,Country,Language,Runtime
16739,The Ghosts of Buxley Hall,1980,NaN,6.2,NaN,Bruce Bilson,"Comedy,Family,Fantasy,Horror",United States,English,120.0
16740,The Poof Point,2001,7+,4.7,NaN,Neal Israel,"Comedy,Family,Sci-Fi",United States,English,90.0
16741,Sharks of Lost Island,2013,NaN,5.7,NaN,Neil Gelinas,Documentary,United States,English,NaN
16742,Man Among Cheetahs,2017,NaN,6.6,NaN,Richard Slater-Jones,Documentary,United States,English,NaN
16743,In Beaver Valley,1950,NaN,NaN,NaN,James Algar,"Documentary,Short,Family",United States,English,32.0

In [8]:
movies_na = movies[movies.isna().any(axis=1)]

movies_na.shape

(13443, 10)

In [10]:
movies['Age'].isnull().sum()

9390

In [13]:
print(movies.dtypes)

#movies['Age'].fillna(movies['Age'].mean(),inplace=True)

Title               object
Year                 int64
Age                 object
IMDb               float64
Rotten Tomatoes    float64
Directors           object
Genres              object
Country             object
Language            object
Runtime            float64
dtype: object

In [14]:
movies['Age'][movies['Age'].isna()] = 'Others'

/var/folders/td/h_nv_xmx2dj31ym4jqxrtjs00000gn/T/ipykernel_7753/4134362043.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['Age'][movies['Age'].isna()] = 'Others'

In [15]:
movies['Directors'][movies['Directors'].isna()] = 'Others'

/var/folders/td/h_nv_xmx2dj31ym4jqxrtjs00000gn/T/ipykernel_7753/888079883.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['Directors'][movies['Directors'].isna()] = 'Others'

In [17]:
movies['Country'][movies['Country'].isna()] = 'Others'

/var/folders/td/h_nv_xmx2dj31ym4jqxrtjs00000gn/T/ipykernel_7753/2272082801.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['Country'][movies['Country'].isna()] = 'Others'

In [18]:
movies['Language'][movies['Language'].isna()] = 'Others'

/var/folders/td/h_nv_xmx2dj31ym4jqxrtjs00000gn/T/ipykernel_7753/1244501005.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['Language'][movies['Language'].isna()] = 'Others'

In [20]:
movies['Rotten Tomatoes'].isnull().sum()

11586

In [21]:
# Read the CSV file with Pandas
ott = pd.read_csv('ott.csv')

# View the DataFrame
ott

          ID  Netflix  Hulu  Prime Video  Disney+
0          1        0     0            1        0
1          2        0     1            0        0
2          3        0     0            1        0
3          4        1     0            0        0
4          5        0     0            1        0
...      ...      ...   ...          ...      ...
16739  16740        0     0            1        0
16740  16741        0     0            1        0
16741  16742        0     0            1        0
16742  16743        0     0            1        0
16743  16744        1     0            0        0

[16744 rows x 5 columns]

In [22]:
movies.shape

(16744, 10)

In [23]:
movies.dtypes

Title               object
Year                 int64
Age                 object
IMDb               float64
Rotten Tomatoes    float64
Directors           object
Genres              object
Country             object
Language            object
Runtime            float64
dtype: object

In [24]:
# Column names of data set.
my_list = movies.columns.values.tolist()
my_list

['Title',
 'Year',
 'Age',
 'IMDb',
 'Rotten Tomatoes',
 'Directors',
 'Genres',
 'Country',
 'Language',
 'Runtime']

In [25]:
# Read the CSV file with Pandas create a copy movies_num
movies_num = pd.read_excel('movies.xlsx')

# View the DataFrame
movies_num

,Title,Year,Age,IMDb,Rotten Tomatoes,Directors,Genres,Country,Language,Runtime
0,Inception,2010,13+,8.8,0.87,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,The Matrix,1999,18+,8.7,0.87,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,Avengers: Infinity War,2018,13+,8.5,0.84,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,Back to the Future,1985,7+,8.5,0.96,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,"The Good, the Bad and the Ugly",1966,18+,8.8,0.97,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0
...,...,...,...,...,...,...,...,...,...,...
16739,The Ghosts of Buxley Hall,1980,NaN,6.2,NaN,Bruce Bilson,"Comedy,Family,Fantasy,Horror",United States,English,120.0
16740,The Poof Point,2001,7+,4.7,NaN,Neal Israel,"Comedy,Family,Sci-Fi",United States,English,90.0
16741,Sharks of Lost Island,2013,NaN,5.7,NaN,Neil Gelinas,Documentary,United States,English,NaN
16742,Man Among Cheetahs,2017,NaN,6.6,NaN,Richard Slater-Jones,Documentary,United States,English,NaN
16743,In Beaver Valley,1950,NaN,NaN,NaN,James Algar,"Documentary,Short,Family",United States,English,32.0

In [26]:
movies_num.select_dtypes('number')

       Year  IMDb  Rotten Tomatoes  Runtime
0      2010   8.8             0.87    148.0
1      1999   8.7             0.87    136.0
2      2018   8.5             0.84    149.0
3      1985   8.5             0.96    116.0
4      1966   8.8             0.97    161.0
...     ...   ...              ...      ...
16739  1980   6.2              NaN    120.0
16740  2001   4.7              NaN     90.0
16741  2013   5.7              NaN      NaN
16742  2017   6.6              NaN      NaN
16743  1950   NaN              NaN     32.0

[16744 rows x 4 columns]

In [27]:
movies.select_dtypes('number')

       Year  IMDb  Rotten Tomatoes  Runtime
0      2010   8.8             0.87    148.0
1      1999   8.7             0.87    136.0
2      2018   8.5             0.84    149.0
3      1985   8.5             0.96    116.0
4      1966   8.8             0.97    161.0
...     ...   ...              ...      ...
16739  1980   6.2              NaN    120.0
16740  2001   4.7              NaN     90.0
16741  2013   5.7              NaN      NaN
16742  2017   6.6              NaN      NaN
16743  1950   NaN              NaN     32.0

[16744 rows x 4 columns]

In [28]:
# Just replace all missing values with 0 since they are numeric.
movies_num[movies_num.isna().any(axis=1)]

,Title,Year,Age,IMDb,Rotten Tomatoes,Directors,Genres,Country,Language,Runtime
32,Train to Busan,2016,NaN,7.5,0.94,Sang-ho Yeon,"Action,Horror,Thriller",South Korea,"Korean,Hawaiian",118.0
57,A Silent Voice,2016,NaN,8.2,0.94,Naoko Yamada,"Animation,Drama,Family,Romance",Japan,"Japanese,Japanese Sign Language",130.0
58,Snowpiercer,2013,18+,7.1,0.94,NaN,"Action,Drama,Sci-Fi,Thriller",United States,English,60.0
80,Philadelphia,1993,13+,7.7,0.80,NaN,Comedy,United States,English,22.0
89,The Dawn Wall,2018,NaN,8.1,1.00,"Josh Lowell,Peter Mortimer","Documentary,Biography,Sport","Austria,United States",English,100.0
...,...,...,...,...,...,...,...,...,...,...
16739,The Ghosts of Buxley Hall,1980,NaN,6.2,NaN,Bruce Bilson,"Comedy,Family,Fantasy,Horror",United States,English,120.0
16740,The Poof Point,2001,7+,4.7,NaN,Neal Israel,"Comedy,Family,Sci-Fi",United States,English,90.0
16741,Sharks of Lost Island,2013,NaN,5.7,NaN,Neil Gelinas,Documentary,United States,English,NaN
16742,Man Among Cheetahs,2017,NaN,6.6,NaN,Richard Slater-Jones,Documentary,United States,English,NaN
16743,In Beaver Valley,1950,NaN,NaN,NaN,James Algar,"Documentary,Short,Family",United States,English,32.0

In [29]:
# remove all Year column
movies_num.drop(['Year'], axis=1)

,Title,Age,IMDb,Rotten Tomatoes,Directors,Genres,Country,Language,Runtime
0,Inception,13+,8.8,0.87,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,The Matrix,18+,8.7,0.87,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,Avengers: Infinity War,13+,8.5,0.84,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,Back to the Future,7+,8.5,0.96,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,"The Good, the Bad and the Ugly",18+,8.8,0.97,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0
...,...,...,...,...,...,...,...,...,...
16739,The Ghosts of Buxley Hall,NaN,6.2,NaN,Bruce Bilson,"Comedy,Family,Fantasy,Horror",United States,English,120.0
16740,The Poof Point,7+,4.7,NaN,Neal Israel,"Comedy,Family,Sci-Fi",United States,English,90.0
16741,Sharks of Lost Island,NaN,5.7,NaN,Neil Gelinas,Documentary,United States,English,NaN
16742,Man Among Cheetahs,NaN,6.6,NaN,Richard Slater-Jones,Documentary,United States,English,NaN
16743,In Beaver Valley,NaN,NaN,NaN,James Algar,"Documentary,Short,Family",United States,English,32.0

In [52]:
# calculate Q1 and Q3 for all numeric 
q1 = movies_num.quantile(0.25)
q3 = movies_num.quantile(0.75)
print(q1)
print(q3)

Year               2000.00
IMDb                  5.10
Rotten Tomatoes       0.44
Runtime              82.00
Name: 0.25, dtype: float64
Year               2016.00
IMDb                  6.90
Rotten Tomatoes       0.88
Runtime             104.00
Name: 0.75, dtype: float64

In [54]:
# calculate the IQR.
iqr = q3 - q1
print(iqr)

Year               16.00
IMDb                1.80
Rotten Tomatoes     0.44
Runtime            22.00
dtype: float64

In [55]:
# use describe() method.
movies_num['Rotten Tomatoes'].mean()

0.6542846064366074

In [56]:
movies['Rotten Tomatoes'].isnull().sum()

11586

In [57]:
movies['Rotten Tomatoes'].fillna(movies['Rotten Tomatoes'].mean(),inplace=True)

In [58]:
movies['Rotten Tomatoes'].isnull().sum()

0

In [59]:
movies['Rotten Tomatoes'] = movies['Rotten Tomatoes'].astype(object).astype(int)

In [60]:
movies.dtypes

Title               object
Year                 int64
Age                 object
IMDb               float64
Rotten Tomatoes      int64
Directors           object
Genres              object
Country             object
Language            object
Runtime            float64
dtype: object